<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="WebApp Suite">
  <test thread-count="5" name="WebApp Test">
    <classes>
      <class name="testcases.HandleName"/>
      <class name="testcases.HandleOrderNumber"/>
      <class name="testcases.TestButtons"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
